<div class="row">
<h1>Proyectos Realizados: </h1>
        <div class="container">
                <div class="col-sm-12 col-md-7 col-lg-7 parte1">
                    <h1>Web Coordinacion Aerea Jujuy</h1>
                    <p>General Info 📋:</p>
                        <ul>
                          <li>✅ HTML</li>  
                           <li>✅ BOOSTRAP</li> 
                            <li>✅ CSS</li>
                          <li>✅ JAVASCRIPT</li>  
                        </ul>
                       
                </div>
                <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
                    <img class="img-fluid img-proyecto" src="../../../assets/previeweb.png" alt="">
                
                </div>
                    <div class="button1">
                        <a href="https://github.com/glucarelli9/WebCoordinacion" class="btn btn-outline-primary"  target="_blank">Repositorio</a>
                    </div>
                    <div class="button2">
                    <a href="http://190.52.39.246:8080/" class="btn btn-outline-dark" target="_blank" >Website</a>
                    </div>
            </div>
</div>
