<div class="row">
    <h1>Hard & Soft Skill</h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="90"
    [radius]="100"
    [showImage]="true"
    [imageWidth]="100"
    [imageHeight]="100"
    [animation]="true"
    [imageSrc]="'../assets/html5.jpg'"
  ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="90"
        [radius]="100"
        [showImage]="true"
        [imageWidth]="100"
        [imageHeight]="100"
        [animation]="true"
        [imageSrc]="'../assets/css.png'"
      ></circle-progress>
        </div>
        <div class="text-center col-sm-4 col-md-4 col-lg-4">
            <circle-progress
            [percent]="70"
            [radius]="100"
            [showImage]="true"
            [imageWidth]="100"
            [imageHeight]="100"
            [animation]="true"
            [imageSrc]="'../assets/js.png'"
          ></circle-progress>
            </div>
            <div class="text-center col-sm-4 col-md-4 col-lg-4">
                <circle-progress
                [percent]="70"
                [radius]="100"
                [showImage]="true"
                [imageWidth]="85"
                [imageHeight]="100"
                [animation]="true"
                [imageSrc]="'../assets/android.png'"
              ></circle-progress>
                </div>
                <div class="text-center col-sm-4 col-md-4 col-lg-4">
                    <circle-progress
                    [percent]="40"
                    [radius]="100"
                    [showImage]="true"
                    [imageWidth]="100"
                    [imageHeight]="100"
                    [animation]="true"
                    [imageSrc]="'../assets/git.png'"
                  ></circle-progress>
                    </div>
                    <div class="text-center col-sm-4 col-md-4 col-lg-4">
                        <circle-progress
                        [percent]="50"
                        [radius]="100"
                        [showImage]="true"
                        [imageWidth]="100"
                        [imageHeight]="100"
                        [animation]="true"
                        [imageSrc]="'../assets/ingles.png'"
                      ></circle-progress>
                        </div>

                        <div class="text-center col-sm-4 col-md-4 col-lg-4">
                            <circle-progress
                            [percent]="98"
                            [radius]="100"
                            [showImage]="true"
                            [imageWidth]="100"
                            [imageHeight]="100"
                            [animation]="true"
                            [imageSrc]="'../assets/work.png'"
                          ></circle-progress>
                            </div>
    
</div>