<div class="text-center">
    <button type="button" class="btn btn-success" (click)="onOpenModal('agregar')" data-toggle="modal"
        data-target=".bd-example-modal-lg">
        <a class="nav-link" style="color:white"> Agregar Experiencia <span class="sr-only"> (current) </span>
        </a></button>
</div>

<div class="row d-inline-flex p-5" *ngFor="let experiencia of experiencias">

    <h1>Experiencia Laboral {{experiencia.idexp}}:</h1>
    <div class="justify-content-left">
        <!-- Button eliminar modal -->
        <button type="button" (click)="onOpenModal('delete',experiencia)" class="btn btn-danger" data-toggle="modal"
            data-target="#deleteExperienciaModal">
            <i class="fa-solid fa-school-circle-xmark"></i>
        </button>

        <!-- Button Editar modal -->
        <a type="button" (click)="onOpenModal('edit',experiencia)" class="btn btn-primary" data-toggle="modal"
            data-target="#editarExperienciaModal">
            <i class="fa-solid fa-pen-to-square"></i>
    </a>
    </div>

    <div class="col-lg-10">
        <ul>


            <img src="{{experiencia.imagenexp}}" alt="" width="100" height="100">
            <li>
                <h2>{{experiencia.tituloexp}}</h2> -
                <h3>{{experiencia.fechaexp}}</h3>
            </li>
            <h3>
                <p><strong>{{experiencia.descriexp}}</strong></p>
            </h3>
        </ul>

    </div>
</div>
<!-- Modal EDITAR-->
<div class="modal fade" id="editarExperienciaModal" tabindex="-1" role="dialog"
    aria-labelledby="editarExperienciaModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="editarExperienciaModal">
                    Editar Educacion {{editExperiencia?.tituloexp}}
                </h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form #editForm="ngForm">
                    <div class="form-group">
                        <label for="name">Titulo</label>
                        <input type="text" ngModel="{{ editExperiencia?.tituloexp }}" name="tituloexp"
                            class="form-control" id="tituloexp" aria-describedby="emailHelp" placeholder="Titulo">
                    </div>
                    <input type="hidden" ngModel="{{editExperiencia?.idexp}}" name="idedu" class="form-control" id="idexp"
                        placeholder="">
                    <div class="form-group">
                        <label for="descriexp">Descripcion de Educacion</label>
                        <input type="text" ngModel="{{editExperiencia?.descriexp}}" name="descriexp" class="form-control"
                            id="descriexp" placeholder="Descripcion" />
                    </div>
                    <div class="form-group">
                        <label for="fechaexp">Fecha Edu</label>
                        <input type="number" ngModel="{{editExperiencia?.fechaexp}}" name="fechaexp" class="form-control"
                            id="fechaexp" placeholder="Año pa">
                    </div>
                    <div class="form-group">
                        <label for="imagenexp">Imagen</label>
                        <input type="text" ngModel="{{editExperiencia?.imagenexp}}" name="imagenexp" class="form-control"
                            id="imagenexp" placeholder="URL Imagen">
                    </div>
                </form>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-secondary">
                        Close
                    </button>
                    <button (click)="onEditarExperiencia(editForm.value)" class="btn btn-primary"> Guardar Cambios
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal Eliminar-->
<div class="modal fade" id="deleteExperienciaModal" tabindex="-1" role="dialog"
    aria-labelledby="deleteExperienciaModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="deleteExperienciaModalLabel">Eliminar Educacion</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    Estas seguro que quieres eliminar la educacion
                    {{ deleteExperiencia?.tituloexp }} ?
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    NO
                </button>
                <button (click)="onDeleteExperiencia(deleteExperiencia!.idexp)" class="btn btn-danger"
                    data-dismiss="modal">
                    SI
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Agregar EXP -->
<div class="modal fade bd-example-modal-lg" id="agregarExperienciaModal" tabindex="-1" role="dialog"
    aria-labelledby="agregarExperienciaModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="agregarExperienciaModalLabel"> Añadir Experiencia</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="close">
                    <span aria-hidden="true">&times; </span>
                </button>
            </div>
            <div class="modal-body">
                <form #addForm="ngForm" (ngSubmit)="onAgregarExperiencia(addForm)">
                    <div class="form-group">
                        <label for="tituloexp"> Nombre Empresa</label>
                        <input type="text" ngModel name="tituloexp" class="form-control" id="tituloexp"
                            placeholder="Nombre" required>
                    </div>
                    <div class="form-group">
                        <label for="fechaexp"> Año</label>
                        <input type="number" maxlength="4"
                            oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                            ngModel name="fechaexp" class="form-control" id="fechaexp" placeholder="Año" required>
                    </div>
                    <div class="form-group">
                        <label for="descriexp"> Descripción</label>
                        <input type="text" ngModel name="descriexp" class="form-control" id="descriexp"
                            placeholder="Descripcion" required>
                    </div>
                    <div class="form-group">
                        <label for="imagenexp"> Imagen Empresa</label>
                        <input type="text" ngModel name="imagenexp" class="form-control" id="imagenexp"
                            placeholder="URL Imagen Exp" required>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="agregar-experiencia-form" class="btn btn-secondary"
                            data-dismiss="modal">
                            Cerrar
                        </button>
                        <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary">
                            Añadir Cambios
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>